    <div class="container-fluid">
        <div class="row b1 justify-content-center align-items-center">
            <div class="col-5 col-lg-3 myclass">
                <span > Create an account </span>

                <form [formGroup]="fbFormGroup">
                    <div>
                        <div>
                            <input type="text" id="inputId1" placeholder="Phone number" class="form-control" formControlName="phone"
                                style="width: 250px; margin-top: 20px;">
                            <label
                                for=""
                                style="color: red; font-size: small"
                                *ngIf="
                                  fbFormGroup.get('phone').invalid &&
                                  fbFormGroup.get('phone').touched
                                "
                                >Phone Requried
                            </label>
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type="text" id="inputId1" placeholder="Name" class="form-control" formControlName="name"
                                style="width: 250px; margin-top: 20px;">
                                <label
                                for=""
                                style="color: red; font-size: small"
                                *ngIf="
                                  fbFormGroup.get('name').invalid &&
                                  fbFormGroup.get('name').touched
                                "
                                >Name Requried
                            </label>
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type="text" id="inputId1" placeholder="Email" class="form-control" formControlName="email"
                                style="width: 250px; margin-top: 20px;">
                                <label
                                style="color: red; font-size: small"
                                *ngIf="
                                  fbFormGroup.get('email').invalid &&
                                  fbFormGroup.get('email').touched
                                "
                                >Email Requried
                            </label>
                        </div>
                    </div>


                    <div>
                        <div>
                            <input type="password" id="inputId2" placeholder="Password" class="form-control" formControlName="password"
                                style="margin-top: 20px;">
                            <label
                                style="color: red; font-size: small"
                                *ngIf="
                                  fbFormGroup.get('password').invalid &&
                                  fbFormGroup.get('password').touched
                                "
                                >Password Requried
                            </label>
                        </div>
                    </div>
                    <div>
                        <div style="margin-top: 20px;">
                            <button class="btn" style="width: 250px;  background-color: #FC8019; border-radius: 25px;" [disabled]="!fbFormGroup.valid" (click)="registerUser()">
                                GET STARED
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>